on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/publish-runner.yml
      - runner/**
jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/build-push-action@v5
        with:
          context: ./runner
          push: true
          tags: ghcr.io/xynap/containers:runner
